<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">
	<display-name>demoapp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>DemoApp</display-name>
		<servlet-name>DemoApp</servlet-name>
		<servlet-class>com.demoapp.servlet.DemoApp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DemoApp</servlet-name>
		<url-pattern>/DemoApp</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GreetingServlet</display-name>
		<servlet-name>GreetingServlet</servlet-name>
		<servlet-class>com.demoapp.servlet.GreetingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GreetingServlet</servlet-name>
		<url-pattern>/GreetingServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginSevlet</display-name>
		<servlet-name>LoginSevlet</servlet-name>
		<servlet-class>com.demoapp.servlet.LoginSevlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginSevlet</servlet-name>
		<url-pattern>/LoginSevlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>InsertProductServlet</display-name>
		<servlet-name>InsertProductServlet</servlet-name>
		<servlet-class>com.demoapp.servlet.InsertProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertProductServlet</servlet-name>
		<url-pattern>/InsertProductServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>fetchallproducts</display-name>
		<servlet-name>fetchallproducts</servlet-name>
		<servlet-class>com.demoapp.servlet.fetchallproducts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fetchallproducts</servlet-name>
		<url-pattern>/fetchallproducts</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchProductServelet</display-name>
		<servlet-name>SearchProductServelet</servlet-name>
		<servlet-class>com.demoapp.servlet.SearchProductServelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchProductServelet</servlet-name>
		<url-pattern>/SearchProductServelet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>demoservlet</display-name>
		<servlet-name>demoservlet</servlet-name>
		<servlet-class>com.demoapp.dao.demoservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>demoservlet</servlet-name>
		<url-pattern>/demoservlet</url-pattern>
	</servlet-mapping>
</web-app>